.canvas{
    visibility: hidden;
}

.canvas-deployed{
    position: absolute;
    top:0;
    left:0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

button{
    height:fit-content;
    width: fit-content;
    font-size: 2vh;
}

.tuto_container{
    display: flex;
    position: absolute;
}

.presets_tuto1{
    top: 2vh;
    left: 1vw;
    height: 97vh;
}

/* .presets_tuto2{
    top: 0vh;
    left: -13vw;
    height: 100vh;
    width: 32.2vw
} */

.presets_tuto2{
    top: 0vh;
    left: -19vw;
    height: 100vh;
    width: 38.2vw
}

#presets_outline{
    position: relative;
    top: 0;
    left: 3vw;
    width: 78vw;
    border: 1px solid rgb(0,0,0,0.8);
    border-radius: 1.5vh;
    box-shadow: 0 0 0 100vmax rgba(12, 12, 12, 0.8);
    z-index: 15;
}

.glow{
    position:absolute;
    border: 1px solid rgb(0,0,0,0.8);
    box-shadow: 0 0 10px white;
    border-radius: 1.5vh;
    z-index: 15;
    transition: width 1s, height 1s, top 1s, left 1s;
}

.focus1{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 1.5vh;
}

.focus2{
    top: 16vh;
    left: 1.7vw;
    width: 73.8vw;
    height: 25vh;
}

.focus3{
    top: 16vh;
    left: 1.7vw;
    width: 74vw;
    height: 80vh;
}

.focus4{
    top: 16vh;
    left: 1.7vw;
    width: 50vw;
    height: 80vh;
}

.focus5{
    top: 16vh;
    left: 51.7vw;
    width: 24.2vw;
    height: 80vh;
}

.focus6{
    top: 87vh;
    left: 0vw;
    width: 20vw;
    height: 13vh
}

.focus7{
    top: 0;
    left: 0;
    width: 100%;
    height: 87%;
}

.presets_txt{
    text-align: justify;
    border: 0.2vh solid white;
    border-radius: 1vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    height: fit-content;
    padding: 1vh;
}

.presets_interact{
    top: 0;
    right: 0;
    width: 16vw;
    height: fit-content;
    border-radius: 1vh;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
    background-color: rgba(12, 12, 12, 0.8);
    color:white;
    padding: 2vh;
    margin-left: 1vw;
    z-index: 20;
    position: relative;
    transition: top 0.75s;
}

.interact2{
    top: 9vh;
}

.interact3{
    top: 9vh;
}

.interact4{
    top: 18.3vh;
}

.interact5{
    top: 18.3vh;
}

.interact6{
    top: 80vh;
    left: 40vw;
}

.interact7{
    top: 2vh;
    left: 40vw;
}

.tuto_number{
    padding: 0 1vh;
    margin-left: 2vh;
    margin-top: 1.5vh;
}

.btn{
    margin-right: 1vh;
    margin-top: 1vh;
}