button{
    z-index: 10;
    border: none;
    margin: 0px;
}

.arrow {
    position: absolute;
    width: auto;
    height: auto;
    background: transparent;
    margin: 2vh;
}

#svg{
    transform: rotate(-180deg);
    height: 7vh;
    width: 7vh;
}

#svg:hover{
    transition: 0.5s;
    width: 10vh;
    height: 10vh;
}