#background{
    background-color: rgb(32,35,37); 
    width:100vw;
    height:100vh;
    color: white;
    display: flex;
    user-select: none;
}

.choice{
    width:50%;
    height:100%;
    border-right: 0.5vh solid white;
    text-align: center;
    font-family: 'Google'
}

.choice:hover{
    transition: 0.5s;
    background-color: white;
}

.image{
    height: 100%;
    width: 100%;
    background-size: cover;
    filter: blur(2vh);
}

.image:hover{
    transition: 0.5s;
    filter: blur(1vh);
}

#image1{
    background-image: url('../../assets/images/ez.jpg');
    background-position: center center;
}   


#image2{
    background-image: url('../../assets/images/coding.webp');
} 

span{
    position: absolute;
    color:white;
    font-size: 2.5vh;
    /* text-shadow: 0.5vh 0.5vh black; */
    /* text-shadow: rgb(0, 238, 255) 1px 0 10px;
    text-shadow: rgb(238, 255, 0) 1px 0 10px;
    text-shadow: rgb(255, 0, 0) 1px 0 10px; */

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1vh;
    padding: 1vh
}

#presets > span {
    top: 45vh;
    left: 22.5vw;
}

#advanced > span {
    top: 45vh;
    left: 71vw;
}