<div id="background">
    <video id="video" autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted=true">
        <source src="../../assets/videos/vortx.mp4" type="video/mp4">
    </video>
</div>
<div id="content">
    <img src="../../assets/images/vortxblacn.png">
    <div id="sub">
        <div id="desc">
            The vortex core finding project
        </div>
        <!-- <button type="button" class="btn"> Start the experience</button> -->
        <div>
            <a routerLink="/choice" >Start the experience
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
</div>

