<div id="background">
    <video id="video" autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted=true">
        <source src="../../assets/videos/vortx.mp4" type="video/mp4">
    </video>
</div>
<div id="content">
    <img src="../../assets/images/vortxblacn.png">
    <div id="sub">
        <div id="desc">
            The vortex core finding project
        </div>
        
        <!-- <div class="col-md-6">
            simulation
            <input type="text" [(ngModel)]="simulation">
        </div>
        <div class="col-md-6">
            folder
            <input type="text" [(ngModel)]="folder">
        </div>
        <div class="container row">
            <div class="col-md-6">
                <input type="file" id="file" accept="image/*" multiple>
            </div>
            <div class="col-md-6">
                <input type="button" (click)="upload()" value="upload">
            </div>
        </div> -->

        <div>
            <a routerLink="/choice">Start the experience
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>